@font-face {
    font-family: JosefinSans;
    src: url(fonts/JosefinSans-VariableFont_wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: JosefinSans;
    src: url(fonts/JosefinSans-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

html,body {
    background-color: #aebcad;
    font-family: sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}
.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.map {
    border: medium solid rgb(91, 91, 91);
    border-width: 1px;
    margin: 10px 0 0 20px;
}

.mapBackground {
    fill: rgb(139, 169, 128);
}

.chart {
    float: right;
    margin: 10px 20px 10px 0;
}

.bar {
    stroke: #303030;
    stroke-width: 1;
    stroke-opacity: 0.8;
    opacity: .65;
}

.chartTitle {
    fill:rgb(248, 248, 248);
    stroke: #303030;
    stroke-width: .5;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-family: JosefinSans;
}

.chartBackground {
    fill: rgb(139, 169, 128);
}

.chartFrame {
    fill: none;
    stroke: rgb(91, 91, 91);
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: rgb(91, 91, 91);;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 1em;
    fill: rgb(0, 0, 0);;
}

.municipalities {
    opacity: .65;
    stroke: #303030;
    stroke-width: .75px;
    stroke-linecap: round;
    stroke-opacity: 0.8;
}

.rivers {
    fill: rgba(255, 255, 255, 0);
    stroke: rgb(171, 214, 255);
    stroke-width: 2.2px;
    stroke-linecap: round;
}

.lakes {
    fill: rgb(171, 214, 255);
}

.interstates {
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: 1.25px;
    stroke-linecap: round;
}

.roads {
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: .5px;
}

.dropdown {
    position: absolute;
    top: 275px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {    
    margin: 0 20px 0 0;    
    position: absolute;
    height: 75px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
    font-family: JosefinSans;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}


#title{
    color: white;
    padding: 15px 20px 10px 30px;
    font-weight: bold;
    font-family: JosefinSans;
    margin-left: 3%;
}

#information{
    line-height: 1em;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #455042;
    font-size: large;
    font-family: JosefinSans;
    margin-left: 3%;
    margin-right: 3%;
}

#metadata{
    float: right;
    text-align: right;
    font-style: italic;
    margin-right: 50px;
    font-family: JosefinSans;
}

#metadata p{
    margin-top: 0em;
    margin-bottom: 0em;
}

.col-md-6 {
    float: left;
    width: 48%;
}
.col-md-7 {
    width: 100%;
}

.col-md-8 {
    width: 100%;
    background: #455042;
}